<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Studiodesthetiquemayria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100">
    <!-- main container -->
    <div class="container-fluid h-100" style="background-color: linen;">
      <!-- header -->
      <div class="row">
        <div class="col">
          <h1 class="text-center pt-2" style="font-family: 'Apple Braille';">Studio D'Ésthétique Mayria</h1>
        </div>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
